/*sidebar*/

aside {
    max-width: 275px;
}

aside .musica {
    align-items: center;
    border-radius: 8px;
    opacity: 0.9;
}

aside .musica span {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

aside h3{
    font-size: 1.25rem;
}

aside .content-musicas {
    gap: 0.3125rem;
}

aside .post{
    color: #C2D1D9;
}

body{
    background-color: #0F0F0F;;
}